<div class="user-info">
  <div class="profile">
    <div class="profile-top">
      <%= @user.name %><br/>
      <p class="aim">【目標:<%= @user.aim %>kg】</p>
      <p class="aim">【達成まで:<%= @by_achievement %>kg】</p>
    </div>
    <div class="start-info">
      <table style="border-collapse: collapse; width: 100%;">
        <tbody>
        <tr>
          <td style="width: 50%; text-align: center;" colspan="2">開始時</td>
        </tr>
        <tr>
          <td style="width: 20%;">日　　時:</td>
          <td style="width: 20%;"><%= @user.started_at %></td>
        </tr>
        <tr>
          <td style="width: 20%;">体　　重:</td>
          <td style="width: 20%;"><%= @user.weight %>kg</td>
        </tr>
        <tr>
          <td style="width: 20%;">B　M　I:</td>
          <td style="width: 20%;"><%= @first_bmi %>%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="current_info">
      <table style="border-collapse: collapse; width: 100%;">
        <tbody>
        <tr>
          <td style="width: 50%; text-align: center;" colspan="2">現在</td>
        </tr>
        <tr>
          <td style="width: 20%;">残 日 数:</td>
          <td style="width: 20%;"><%= 100 - @posts.count %>日</td>
        </tr>
        <tr>
          <td style="width: 20%;">体　重:</td>
          <td style="width: 20%;"><%= @recent_weight %>kg</td>
        </tr>
        <tr>
          <td style="width: 20%;">B　M　I:</td>
          <td style="width: 20%;"><%= @recent_bmi %>
            %
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'posts/post' %>