<div class="post-form">
  <h2>本日:<%= @by_last %>/100日目</h2>
  <%= form_for @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-row">
      <div class="form-group col-md-2 base_info">
        <%= f.label :【本日の体重】 %><br/>
        <%= f.number_field :weight, step: 0.01, value: @posts.any? ? @posts.first.weight : current_user.weight, class: "weight-field" %>
        kg
      </div>
      <div class="form-group col-md-2 base_info">
        <%= f.label :【Photo】 %>
        <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>
        <!-- ->acceptパラメータでPost.rbで定めたvalidationを反映するため-->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :【朝食】 %><br/>
        <%= f.text_area :morning, placeholder: "朝食は何を食べましたか？", class: "content-field" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :【昼食】 %><br/>
        <%= f.text_area :lunch, placeholder: "昼食は何を食べましたか？", class: "content-field" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :【夕食】 %><br/>
        <%= f.text_area :dinner, placeholder: "夕食は何を食べましたか？", class: "content-field" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :【トレーニング内容】 %><br/>
        <%= f.text_area :training, placeholder: "トレーニング内容", class: "content-field" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :【メモ】 %><br/>
      <%= f.text_area :content, placeholder: "Compose new Post", class: "content-field" %>
    </div>
    <div class="form-group">
      <%= f.date_select :date %>
    </div>
    <%= f.submit "Post", class: "btn btn-success" %>
  <% end %>
</div>

<script type="text/javascript">
    $('#post_image').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>