<%= image_tag 'crossfit-534615_1920.jpg', class: "post-img" %>
<div class="card-body">
  <h4 class="card-title"><%= @post.id %>日目</h4>
  <p class="card-text">
  <table style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
      <td style="width: 20%;">日　　時:</td>
      <td style="width: 20%;"><%= @post.date %></td>
    </tr>
    <tr>
      <td style="width: 20%;">体　　重:</td>
      <td style="width: 20%;"><%= @post.weight %>kg</td>
    </tr>
    <tr>
      <td style="width: 20%;">体脂肪率:</td>
      <td style="width: 20%;"><%= @post.body_fat_percentage %>%</td>
    </tr>
    </tbody>
  </table>
  コメント:<%= @post.content %>
  <div class="timestamp"><%= time_ago_in_words(@post.created_at) %> ago.</div>
  </p>
</div>

